/* Imagen Logo */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Cuerpo */

body {
  background: white;  /* fallback for old browsers */
  
  color: white;
  text-align: center;
}

.reports {
  height: 400px;
  overflow-y: scroll;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

*{
  padding: 0;
  margin: 0;
}

.reportContainer{
  background-color: white;
}

.reportHeader, .reportBody, .reportFooter .gasScore{
  background-color: black;
  padding: 20px;
  margin: 0;

}

.reportHeader{
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.reportBody{
  background-color: black;
  margin-top: 20px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.gasScore{
  background-color: black;
  margin-top: 20px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}


h3.label{
  font-family: 'Lobster', cursive;
}

.selectGas {
  margin-bottom: 5px;
  width: 100%;
}


/* Style the header */
.header {
  padding: 10px 16px;
  background: white;
  color: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Estrellas */

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: white;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}