.buttonLogin {
    float: right;
    background-color: rgb(26, 194, 32); /* Green */
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #FFF;
    border-radius: 8px;
    line-height: 20px;
    margin-top: 15px;
    align-items: center;
    margin-right: 2%;
    margin-left:  0%;
    cursor: pointer;
 }
 
 .buttonLogin:hover {
    background-color: rgb(58, 173, 62);
 }

 .buttonLogout {
    float: right;
    background-color: #EC5231;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #FFF;
    border-radius: 8px;
    line-height: 20px;
    margin-top: 15px;
    align-items: center;
    margin-right: 2%;
    margin-left:  0%;
    cursor: pointer;
 }
 
 .buttonLogout:hover {
    background-color: #D74A2C;
 }
 
 @media (max-width:1000px)  {

    .buttonLogin{
        display: flex;
        align-content: center;
        align-items: center;
    }

    .buttonLogout{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}